.idea/
.docker-sync/
vendor/
relroot/*
!relroot/www/

relroot/www/*
!relroot/www/composer.json
!relroot/www/composer.lock
!relroot/www/web/
!relroot/www/config/

relroot/www/config/*
!relroot/www/config/sync/

relroot/www/web/*
!relroot/www/web/modules/
!relroot/www/web/themes/

relroot/www/web/modules/*
relroot/www/web/themes/*

!relroot/www/web/modules/custom/
!relroot/www/web/themes/custom/

### SUITE CRM
!relroot/www/web/crm/

relroot/www/web/crm/install.log
relroot/www/web/crm/suitecrm.log
relroot/www/web/crm/cache/*



